# Erlang version
erlang_version=17.5

# Elixir version
elixir_version=1.0.5

# Always rebuild from scratch on every deploy?
always_rebuild=false

# Export heroku config vars
config_vars_to_export=(DATABASE_URL PORT API_HOST SECRET_KEY_BASE GITHUB_CLIENT_ID GITHUB_CLIENT_SECRET OAUTH_REDIRECT_URI ALLOWED_ORIGINS)

# A command to run right after compiling the app
post_compile="pwd"
